@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    transition: color .3s;
}

img {
    width: 100%;
    height: auto;
}

#main {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 44px;
    padding-left: 55px;
    padding-right: 77px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.nav-main-item a {
    margin-left: 67px;
    color: black;
}

.nav-main-item a:hover {
    font-weight: 500;
    color: #0065FC;
    position: relative;
}

.nav-main-item a:hover::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 2px;
    background: #0065FC;
    top: -44px;
    bottom: 0;
    right: -24.5px;
    width: calc(100% + 49px);
}

.hebergement {
    margin-top: 63px;
}

.hebergement-search h1 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 700;
}

.hebergement-search span {
    line-height: 19px;
}

.hebergement-search form {
    margin-top: 20px;
    display: flex;
}

#form-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#form-city {
    left: 50px;
    width: 236px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    font-size: 1.125rem;
    font-weight: 700;
    padding-left: 10px;
}

#form-button-search {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    left: 286px;
}

.hebergement-filters {
    margin-top: 33px;
    display: flex;
}

.hebergement-filters-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-right: 15px;
}

.hebergement-filters-items {
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px;
}

.hebergement-filters-items:hover {
    background: #DEEBFF;
}

.hebergement-filters-items p {
    font-size: 1.0625rem;
    font-weight: 700;
    margin-left: 10px;
}

.information {
    margin-top: 37px;
    display: flex;
    align-items: center;
}

.information-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
}

.information p {
    margin-left: 11px;
}



